/config/config.development.php
/portal/content/attachments/
/portal/content/invoices/
/node_modules/
/portal/dist/
/.well-known/
/portal/*.log*
/vendor/
/database/
composer.lock
*.cache
.idea/portal.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/php.xml
