/public/config/config.development.php
/public/config/config.beuk.php
/public/content/invoices/
/node_modules/
/public/dist/

/public/web.config
/public/errors.log
/public/.scrutenizer.yml
/public/codelingo.yaml

/public/vendor/
composer.lock
package-lock.json
yarn-error.log
yarn.lock