<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <handlers>
      <remove name="php-8.2.23-nts-Win32-vs16-x64" />
      <add name="portal-php" path="*.php" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\Program Files\PHP\php-8.2.23-nts-Win32-vs16-x64\php-cgi.exe|-d fastcgi.logging=0 -d session.use_strict_mode=1"
           resourceType="Either" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="PortalCMS front controller" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".htaccess" />
          <add segment=".user.ini" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".log" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
