{% extends 'base.html.twig' %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src='{{ site_logo }}' alt='logo' width='150px' height='150px'/>
{#                <?php if (Authorization::hasPermission('site-settings')) { ?>#}
{#                <br><a href="/Settings/Logo/">Logo wijzigen</a>#}
{#                <?php } ?>#}
            </div>
            <div class="col-sm-8">
                <h1>{{ site_name }}</h1>
{#                <p class="lead"><?php require __DIR__ . '/inc/Description.php'; ?></p>#}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
{#        <?php#}
{#            $layout = SiteSetting::get('site_layout');#}
{#            if ($layout === 'left-sidebar') {#}
{#                require __DIR__ . '/layouts/left-sidebar.php';#}
        {% include 'HomeLeftSidebar.html.twig' %}
{#            }#}
{#            if ($layout === 'right-sidebar') {#}
{#                require __DIR__ . '/layouts/right-sidebar.php';#}
{#            }#}
{#            ?>#}
    </div>
</div>
{% endblock %}
